:root{
    --primary-color1: #FF3200;
    --btn-primary: #FF7826;
    --btn-hover: #FF3200;

    --link-color: #0D6EFD;

    --card-select: #E9ECEF;

    --dropdown-color: #EDEFF3;
    --paragraph: #212529;
    --border-color: #BFC0C1;

    --navbar : #212529;

    --navbar-color: #9B9D9E;
    --navbar-hover: white;

    --color-title-start: #101828;

    --card-partner: #495057;

    --backgrond: #F8F9FA;

    


}